[submodule "refer/BIRD-source-code"]
	path = refer/BIRD-source-code
	url = https://gitlab.nic.cz/labs/bird.git
[submodule "refer/BIRD-tm-language-grammar"]
	path = refer/BIRD-tm-language-grammar
	url = https://github.com/bird-chinese-community/BIRD-tm-language-grammar.git
[submodule "refer/BIRD2-vim-grammar"]
	path = refer/BIRD2-vim-grammar
	url = https://github.com/bird-chinese-community/BIRD2.vim.git
[submodule "refer/vscode-bird2"]
	path = refer/vscode-bird2
	url = https://github.com/bird-chinese-community/vscode-bird2.git
